.header {
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 0 0 20px 0;
}
.header__nav {
    display: flex;
    gap: 100px;
    border: 1px solid red;
}
.header__btn {
    border: 1px solid red;
}
.header__btn-shopper {
    border: 1px solid black;
    position: fixed;
    right: 0;
}